header#header.header-effect-shrink(data-plugin-options="{'headerStickyEnabled': true, 'headerStickyEffect': 'shrink', 'headerStickyBoxedEnable': true, 'headerStickyMobileEnable': true, 'headerStickyLogoChange': true, 'headerStickyStart': 50, 'headerStickyHeaderContainerHeight': 40}")
	.header-body.border-top-0
		.header-container.container
			.header-row
				.header-column
					.header-row
						.header-logo
							a(href='index.html')
								img(alt='WLC - Responsive Bootstrap 4 Mega Menu', width='100', height='48', data-sticky-width='82', data-sticky-height='40', src='img/logo-primary.png')
				.header-column.justify-content-end
					.header-row
						.header-nav.header-nav-stripe.order-2.order-lg-1
							.header-nav-primary.header-nav-primary-square(data-dropdown-effect='default')
								nav.collapse
									ul#headerNavPrimary.nav.nav-pills
										li.dropdown
											a.dropdown-item.dropdown-toggle.active(href='index.html')
												| Home
											ul.dropdown-menu
												li
													a.dropdown-item(href='https://codecanyon.net/item/bootstrap-mega-menu-responsive-dropdown-mega-menu-for-bootstrap-4/16195597', target='_blank')
														| Buy now
														span.tip.tip-primary $6.00
														em.dropdown-item-subtitle.text-color-primary Bootstrap 4 Mega Menu
												li
													a.dropdown-item(href='https://codecanyon.net/item/bootstrap-mega-menu-responsive-dropdown-mega-menu-for-bootstrap-4/16195597', target='_blank', data-dropdown-img='img/demo/product-img.png') Preview Image
										li.dropdown
											a.dropdown-item.dropdown-toggle(href='#')
												| Header
											ul.dropdown-menu
												li.dropdown-submenu
													a.dropdown-item(href='#') Default
													ul.dropdown-menu
														li
															a.dropdown-item(href='header.html') Default
														li
															a.dropdown-item(href='header-button.html') Button
														li
															a.dropdown-item(href='header-big-logo.html') Big Logo
												li.dropdown-submenu
													a.dropdown-item(href='#') Flat
													ul.dropdown-menu
														li
															a.dropdown-item(href='header-flat.html') Default
														li.dropdown-submenu
															a.dropdown-item(href='#') Top Bar
															ul.dropdown-menu
																li
																	a.dropdown-item(href='header-flat-top-bar.html') Classic
																li
																	a.dropdown-item(href='header-flat-top-bar-bordered.html') Bordered
																li
																	a.dropdown-item(href='header-flat-top-bar-colored.html') Colored
																li
																	a.dropdown-item(href='header-flat-top-bar-colored-gradient.html') Gradient
												li.dropdown-submenu
													a.dropdown-item(href='#') Center
													ul.dropdown-menu
														li
															a.dropdown-item(href='header-center.html') Default
														li
															a.dropdown-item(href='header-center-between.html') Between
														li
															a.dropdown-item(href='header-center-left-right.html') Left & Right
														li
															a.dropdown-item(href='header-center-with-buttons.html') Left - Right Buttons
														li
															a.dropdown-item(href='header-center-below-slider.html') Below Slider
												li.dropdown-submenu
													a.dropdown-item(href='#') Sticky
													ul.dropdown-menu
														li
															a.dropdown-item(href='header-sticky.html') Default
														li
															a.dropdown-item(href='header-sticky-shrink.html') Shrink
														li
															a.dropdown-item(href='header-sticky-reveal.html') Reveal
														li
															a.dropdown-item(href='header-sticky-change-logo.html') Change Logo
												li.dropdown-submenu
													a.dropdown-item(href='#') Transparent
													ul.dropdown-menu
														li.dropdown-submenu
															a.dropdown-item(href='#') Light
															ul.dropdown-menu
																li
																	a.dropdown-item(href='header-transparent-light.html') Default
																li
																	a.dropdown-item(href='header-transparent-light-bottom-border.html') Border Bottom
														li.dropdown-submenu
															a.dropdown-item(href='#') Dark
															ul.dropdown-menu
																li
																	a.dropdown-item(href='header-transparent-dark.html') Default
																li
																	a.dropdown-item(href='header-transparent-dark-bottom-border.html') Border Bottom
														li
															a.dropdown-item(href='header-transparent-bottom-slider.html') Bottom Slider
												li.dropdown-submenu
													a.dropdown-item(href='#') Semi-Transparent
													ul.dropdown-menu
														li.dropdown-submenu
															a.dropdown-item(href='#') Light
															ul.dropdown-menu
																li
																	a.dropdown-item(href='header-semi-transparent-light.html') Default
														li.dropdown-submenu
															a.dropdown-item(href='#') Dark
															ul.dropdown-menu
																li
																	a.dropdown-item(href='header-semi-transparent-dark.html') Default
														li
															a.dropdown-item(href='header-semi-transparent-bottom-slider.html') Bottom Slider
														li
															a.dropdown-item(href='header-semi-transparent-dark-top-bar-borders.html') Top Bar
												li.dropdown-submenu
													a.dropdown-item(href='#') Full Width
													ul.dropdown-menu
														li
															a.dropdown-item(href='header-full-width.html') Default
														li
															a.dropdown-item(href='header-full-width-bordered.html') Bordered
														li.dropdown-submenu
															a.dropdown-item(href='#') Transparent
															ul.dropdown-menu
																li
																	a.dropdown-item(href='header-full-width-transparent-light.html') Light
																li
																	a.dropdown-item(href='header-full-width-transparent-dark.html') Dark
														li.dropdown-submenu
															a.dropdown-item(href='#') Semi-Transparent
															ul.dropdown-menu
																li
																	a.dropdown-item(href='header-full-width-semi-transparent-light.html') Light
																li
																	a.dropdown-item(href='header-full-width-semi-transparent-dark.html') Dark
												li
													a.dropdown-item(href='header-narrow.html') Narrow
												li
													a.dropdown-item(href='header-floating-bar.html') Floating Bar
												li
													a.dropdown-item(href='header-below-slider.html') Below Slider
										li.dropdown
											a.dropdown-item.dropdown-toggle(href='#')
												| Navigation
											ul.dropdown-menu
												li.dropdown-submenu
													a.dropdown-item(href='#') Pills
													ul.dropdown-menu
														li
															a.dropdown-item(href='navigation-pills.html') Default
														li
															a.dropdown-item(href='navigation-pills-arrows.html') Arrows
														li
															a.dropdown-item(href='navigation-pills-square.html') Square
														li
															a.dropdown-item(href='navigation-pills-rounded.html') Rounded
														li
															a.dropdown-item(href='navigation-pills-dark-text.html') Dark Text
														li
															a.dropdown-item(href='navigation-pills-color-dropdown.html') Color Dropdown
												li.dropdown-submenu
													a.dropdown-item(href='#') Stripes
													ul.dropdown-menu
														li
															a.dropdown-item(href='navigation-stripes.html') Default
														li
															a.dropdown-item(href='navigation-stripes-dark-text.html') Dark Text
														li
															a.dropdown-item(href='navigation-stripes-color-dropdown.html') Color Dropdown
												li.dropdown-submenu
													a.dropdown-item(href='#') Hover Effects
													ul.dropdown-menu
														li
															a.dropdown-item(href='navigation-hover-slide.html') Slide
														li
															a.dropdown-item(href='navigation-hover-top-line.html') Top Line
														li
															a.dropdown-item(href='navigation-hover-top-line-color-dropdown.html') Color Dropdown
														li
															a.dropdown-item(href='navigation-hover-bottom-line.html') Bottom Line
														li
															a.dropdown-item(href='navigation-hover-bottom-line-animated.html') Bottom Line Animated
												li.dropdown-submenu
													a.dropdown-item(href='#') Dropdown Styles
													ul.dropdown-menu
														li
															a.dropdown-item(href='navigation-dropdown-top-line.html') Top Line
														li
															a.dropdown-item(href='navigation-dropdown-square.html') Square
														li
															a.dropdown-item(href='navigation-dropdown-arrow.html') Arrow Dropdown
														li
															a.dropdown-item(href='navigation-dropdown-arrow-center.html') Arrow Center Dropdown
														li.dropdown-submenu
															a.dropdown-item(href='#') Colors
															ul.dropdown-menu
																li
																	a.dropdown-item(href='navigation-dropdown-colors.html') Default
																li
																	a.dropdown-item(href='navigation-dropdown-mega-menu-colors.html') Mega Menu
														li.dropdown-submenu
															a.dropdown-item(href='#') Gradients
															ul.dropdown-menu
																li
																	a.dropdown-item(href='navigation-dropdown-gradient-x-colors.html') Horizontal
																li
																	a.dropdown-item(href='navigation-dropdown-gradient-x-reverse-colors.html') Horizontal Reverse
																li
																	a.dropdown-item(href='navigation-dropdown-gradient-y-colors.html') Vertical
																li
																	a.dropdown-item(href='navigation-dropdown-gradient-y-reverse-colors.html') Vertical Reverse
																li
																	a.dropdown-item(href='navigation-dropdown-gradient-directional-colors.html') Directional
																li
																	a.dropdown-item(href='navigation-dropdown-gradient-directional-reverse-colors.html') Directional Reverse
																li
																	a.dropdown-item(href='navigation-dropdown-gradient-radial-colors.html') Radial
																li
																	a.dropdown-item(href='navigation-dropdown-gradient-radial-reverse-colors.html') Radial Reverse
																li
																	a.dropdown-item(href='navigation-dropdown-gradient-striped-colors.html') Striped
																li
																	a.dropdown-item(href='navigation-dropdown-mega-menu-gradients.html') Mega Menu
														li.dropdown-submenu
															a.dropdown-item(href='#') Light
															ul.dropdown-menu
																li
																	a.dropdown-item(href='navigation-dropdown-light.html') Default
																li
																	a.dropdown-item(href='navigation-dropdown-modern-light.html') Material Design
														li.dropdown-submenu
															a.dropdown-item(href='#') Dark
															ul.dropdown-menu
																li
																	a.dropdown-item(href='navigation-dropdown-dark.html') Default
																li
																	a.dropdown-item(href='navigation-dropdown-modern-dark.html') Material Design
												li.dropdown-submenu
													a.dropdown-item(href='#') Dropdown Effects
													ul.dropdown-menu
														li
															a.dropdown-item(href='navigation-dropdown-effect-opacity.html') Opacity
														li
															a.dropdown-item(href='navigation-dropdown-effect-fade-down.html') Fade Down
														li
															a.dropdown-item(href='navigation-dropdown-effect-rotate-horizontal.html') Rotate Horizontal
														li
															a.dropdown-item(href='navigation-dropdown-effect-rotate-vertical.html') Rotate Vertical
														li
															a.dropdown-item(href='navigation-dropdown-effect-move-to-top.html') Move To Top
														li
															a.dropdown-item(href='navigation-dropdown-effect-move-to-left.html') Move To Left
														li
															a.dropdown-item(href='navigation-dropdown-effect-move-to-right.html') Move To Right
														li
															a.dropdown-item(href='navigation-dropdown-effect-move-to-bottom.html') Move To Bottom
														li
															a.dropdown-item(href='navigation-dropdown-effect-no-effect.html') No Effect
												li
													a.dropdown-item(href='navigation-dropdown-mega-menu.html') Mega Menu
												li
													a.dropdown-item(href='navigation-icons.html') Icons
												li
													a.dropdown-item(href='navigation-bordered.html') Bordered
												li
													a.dropdown-item(href='navigation-overlay.html') Overlay
												li
													a.dropdown-item(href='navigation-one-page.html') One Page Navigation
												li
													a.dropdown-item(href='navigation-click-to-open.html') Click To Open
										li.dropdown
											a.dropdown-item.dropdown-toggle(href='#')
												| Navbar
											ul.dropdown-menu
												li
													a.dropdown-item(href='navbar.html') Default
												li
													a.dropdown-item(href='navbar-colored-search.html') Colored & Search Form
												li
													a.dropdown-item(href='navbar-bordered.html') Bordered
												li
													a.dropdown-item(href='navbar-pills.html') Pills
												li
													a.dropdown-item(href='navbar-full-width.html') Full Width
										li.dropdown
											a.dropdown-item.dropdown-toggle(href='#')
												| Sidebar
											ul.dropdown-menu
												li.dropdown-submenu
													a.dropdown-item(href='#') Left
													ul.dropdown-menu
														li
															a.dropdown-item(href='sidebar-left-slide.html') Slide
														li
															a.dropdown-item(href='sidebar-left-dropdown.html') Dropdown
														li
															a.dropdown-item(href='sidebar-left-expand.html') Expand
														li
															a.dropdown-item(href='sidebar-left-columns.html') Columns
														li.dropdown-submenu
															a.dropdown-item(href='#') Colors
															ul.dropdown-menu
																li
																	a.dropdown-item(href='sidebar-left-dark.html') Dark
														li.dropdown-submenu
															a.dropdown-item(href='#') Semi-Transparent
															ul.dropdown-menu
																li
																	a.dropdown-item(href='sidebar-left-semi-transparent.html') Default
												li.dropdown-submenu
													a.dropdown-item(href='#') Right
													ul.dropdown-menu
														li
															a.dropdown-item(href='sidebar-right-slide.html') Slide
														li
															a.dropdown-item(href='sidebar-right-dropdown.html') Dropdown
														li
															a.dropdown-item(href='sidebar-right-expand.html') Expand
														li
															a.dropdown-item(href='sidebar-right-columns.html') Columns
														li.dropdown-submenu
															a.dropdown-item(href='#') Colors
															ul.dropdown-menu
																li
																	a.dropdown-item(href='sidebar-right-dark.html') Dark
														li.dropdown-submenu
															a.dropdown-item(href='#') Semi-Transparent
															ul.dropdown-menu
																li
																	a.dropdown-item(href='sidebar-right-semi-transparent.html') Default
												li.dropdown-submenu
													a.dropdown-item(href='#') Offcanvas
													ul.dropdown-menu
														li
															a.dropdown-item(href='sidebar-offcanvas-slide.html') Slide
														li
															a.dropdown-item(href='sidebar-offcanvas-push.html') Push
												li
													a.dropdown-item(href='sidebar-narrow.html') Narrow
										li.dropdown
											a.dropdown-item.dropdown-toggle(href='#')
												| Extra
											ul.dropdown-menu
												li.dropdown-submenu
													a.dropdown-item(href='#') Top Search
													ul.dropdown-menu
														li
															a.dropdown-item(href='header-extra-top-search-input.html') Top Input
														li
															a.dropdown-item(href='header-extra-top-search-icon.html') Top Icon
												li.dropdown-submenu
													a.dropdown-item(href='#') Header
													ul.dropdown-menu
														li
															a.dropdown-item(href='https://codecanyon.net/item/wlc-bootstrap-4-admin-menu/23895875') Admin Menu
														li
															a.dropdown-item(href='header-extra-background-color.html') Background Color
												li.dropdown-submenu
													a.dropdown-item(href='#') Page
													ul.dropdown-menu
														li
															a.dropdown-item(href='page-layout-boxed.html') Boxed Layout
														li
															a.dropdown-item(href='page-dark-layout.html') Dark Layout
														li
															a.dropdown-item(href='preview-rtl/index.html') RTL Layout
							button.btn.header-btn-collapse-nav(data-toggle='collapse', data-target='.header-nav-primary nav')
								i.fas.fa-bars
						.header-nav-extended.header-nav-extended-no-border.header-nav-extended-lg-show-border.order-1.order-lg-2
							.header-nav-extend.header-nav-extended-popup.d-none.d-sm-inline-flex
								a.header-nav-extended-toggle(href='#', data-focus='headerSearch')
									i.fa.fa-search.header-nav-top-icons(style='top: 3px;')
								#headerDropdownSearch.header-nav-extended-dropdown
									form(role='search', action='#', method='get')
										.default-search.input-group
											input#headerSearch.form-control.text-1(name='headerSearch', type='search', value='', placeholder='Search ...')
											span.input-group-append
												button.btn(type='submit')
													i.fa.fa-search.header-nav-top-icons(style='top: 2px;')
						.header-nav-extended.header-nav-extended-no-border.order-1.order-lg-2.mr-lg-0
							.header-nav-extend.header-nav-extended-popup.d-none.d-sm-inline-flex
								a.header-nav-extended-toggle(href='#')
									i.fa.fa-shopping-cart.header-nav-top-icons(style='top: 3px;')
									span.shop-info
										span.shop-qty 1
								#headerDropdownCart.header-nav-extended-dropdown
									ol.shop-preview-list
										li.item
											a.product-image(href='#', title='Bootstrap 4 Mega Menu')
												img(src='img/demo/bmm-cart.png', alt='WLC - Responsive Bootstrap 4 Mega Menu')
											.quantity-details
												p.quantity-name
													a(href='#', title='Bootstrap 4 Mega Menu') Bootstrap 4 Mega Menu
												.quantity-price.font-weight-bold.mt-1
													p
														| Price:
														span.price $6.00
													p License: Comercial
												p
													| The default Bootstrap 4 navbar has been enhanced with many features in this Bootstrap 4 mega menu and can be used or replaced for your existing menu. You can potty activate or even deactivate a lot of functions in the settings.scss file.
									.totals
										span.label Total
										span.offer-total-value
											span.price $6.00
									.actions
										a.btn.btn-dark(href='https://codecanyon.net/item/bootstrap-mega-menu-responsive-dropdown-mega-menu-for-bootstrap-4/16195597', target='_blank') View Cart
										a.btn.btn-primary(href='https://codecanyon.net/item/bootstrap-mega-menu-responsive-dropdown-mega-menu-for-bootstrap-4/16195597', target='_blank') Checkout
						.header-nav-extended.header-nav-extended-no-border.order-1.order-lg-2
							// (bake-start _if="show-user")
							#headerAccount.header-nav-extend.header-nav-extended-popup.d-none.d-sm-inline-flex.mx-2.pr-2.signin
								a.header-nav-extended-toggle(href='#')
									i.fa.fa-user.header-nav-top-icons(style='top: 3px;')
								#headerTopUserDropdown.header-nav-extended-dropdown.header-nav-extended-dropdown-mobile-fixed.header-nav-extended-dropdown-force-right
									.signin-form
										h5.mb-4
											strong Sign In
										form
											.form-group
												label.mb-1.opacity-8 Email address *
												input.form-control.form-control-lg(type='email')
											.form-group
												label.mb-1.opacity-8 Password *
												input.form-control.form-control-lg(type='password')
											.form-row.pb-2
												.form-group.form-check.col-lg-6.pl-1
													.custom-control.custom-checkbox
														input#headerRememberMe.custom-control-input(type='checkbox')
														label.custom-control-label(for='headerRememberMe') Remember Me
												.form-group.col-lg-6.text-right
													a#headerRecover.text-color-dark(href='#') Lost your Password
											.actions
												.form-row
													.col.d-flex.justify-content-end
														a.btn.btn-primary(href='#') Login
											.extra-actions
												p
													| You need an account?
													a#headerSignUp.text-color-dark(href='#')
														strong Sign Up
									.signup-form
										h5.mb-4
											strong Sign Up
										form
											.form-group
												label.mb-1.opacity-8 Email address*
												input.form-control.form-control-lg(type='email')
											.form-group
												label.mb-1.opacity-8 Password *
												input.form-control.form-control-lg(type='password')
											.form-group
												label.mb-1.opacity-8 Confirm Password *
												input.form-control.form-control-lg(type='password')
											.actions
												.form-row
													.col.d-flex.justify-content-end
														a.btn.btn-primary(href='#') Register
											.extra-actions
												p
													| You already have an account?
													a#headerSignIn.text-color-dark(href='#')
														strong Log In
									.recover-form
										h5.mb-2.pb-1
											strong Reset Password
										p.text-2.mb-4
											| Complete the form to receive an email with the authorization code required to reset your password.
										form
											.form-group
												label.mb-1.opacity-8 Email address*
												input.form-control.form-control-lg(type='email')
											.actions
												.form-row
													.col.d-flex.justify-content-end
														a.btn.btn-primary(href='#') Reset
											.extra-actions
												p
													| You already have an account?
													a#headerRecoverCancel.text-color-dark(href='#')
														strong Log In
