+c('Styles')
+link('bootstrap',true)
+link('app')
if (isThemeforestTheme)
	+line
	+line
	+c('Color Options')
	+c('Note: if you delete the Color Switcher plugin, remove this element ~ id=color-switcher ~ attribute')
	link#color-switcher(rel="stylesheet" href="assets/css/colors/" + Theme + ".min" + ".css")/
	link(rel="stylesheet", href="https://wlcunited.com/item/responsive-bootstrap-4-mega-menu/preview/2.0.9/vendor/fontawesome/css/all.min.css")
	+line
	+line

	+c('Color Switcher -- For Demo')
	+link('color-switcher',true)
