a {
	color: #00719B;
	&:hover, &:focus {
	  color: #0084b5;
	}
	&:active {
	  color: #005e82;
	}
  }

  html {
	.text-color-primary, .text-primary {
	  color: #00719B !important;
	}
	.text-color-secondary, .text-secondary {
	  color: #CF0EF0 !important;
	}
	.text-color-tertiary, .text-tertiary {
	  color: #2BBBAD !important;
	}
	.text-color-quaternary, .text-quaternary {
	  color: #383838 !important;
	}
	.bg-primary {
	  background-color: #00719B !important;
	}
	.bg-secondary {
	  background-color: #CF0EF0 !important;
	}
	.bg-tertiary {
	  background-color: #2BBBAD !important;
	}
	.bg-quaternary {
	  background-color: #383838 !important;
	}
  }

  .nav-pills {
	> li.active > a {
	  background-color: #00719B;
	}
	.nav-link.active {
	  background-color: #00719B;
	  &:hover, &:focus {
		background-color: #00719B;
	  }
	}
	> li.active > a {
	  &:hover, &:focus {
		background-color: #00719B;
	  }
	}
  }

  html {
	.nav-pills-primary {
	  a {
		color: #00719B;
		&:hover, &:focus {
		  color: #0084b5;
		}
		&:active {
		  color: #005e82;
		}
	  }
	  .nav-link.active {
		background-color: #00719B;
		&:hover, &:focus {
		  background-color: #00719B;
		}
	  }
	  > li.active > a {
		background-color: #00719B;
	  }
	  > li.active > a {
		&:hover, &:focus {
		  background-color: #00719B;
		}
	  }
	}
	.nav-pills-secondary {
	  a {
		color: #CF0EF0;
		&:hover, &:focus {
		  color: #d425f2;
		}
		&:active {
		  color: #ba0dd8;
		}
	  }
	  .nav-link.active {
		background-color: #CF0EF0;
		&:hover, &:focus {
		  background-color: #CF0EF0;
		}
	  }
	  > li.active > a {
		background-color: #CF0EF0;
	  }
	  > li.active > a {
		&:hover, &:focus {
		  background-color: #CF0EF0;
		}
	  }
	}
	.nav-pills-tertiary {
	  a {
		color: #2BBBAD;
		&:hover, &:focus {
		  color: #30cfc0;
		}
		&:active {
		  color: #26a69a;
		}
	  }
	  .nav-link.active {
		background-color: #2BBBAD;
		&:hover, &:focus {
		  background-color: #2BBBAD;
		}
	  }
	  > li.active > a {
		background-color: #2BBBAD;
	  }
	  > li.active > a {
		&:hover, &:focus {
		  background-color: #2BBBAD;
		}
	  }
	}
	.nav-pills-quaternary {
	  a {
		color: #383838;
		&:hover, &:focus {
		  color: #454545;
		}
		&:active {
		  color: #2b2b2b;
		}
	  }
	  .nav-link.active {
		background-color: #383838;
		&:hover, &:focus {
		  background-color: #383838;
		}
	  }
	  > li.active > a {
		background-color: #383838;
	  }
	  > li.active > a {
		&:hover, &:focus {
		  background-color: #383838;
		}
	  }
	}
  }

  .btn-link {
	color: #00719B;
	&:hover {
	  color: #0084b5;
	}
	&:active {
	  color: #005e82;
	}
  }

  html {
	.btn-primary {
	  background-color: #00719B;
	  border-color: #00719B #00719B #004c68;
	  color: #fff;
	  &:hover, &.hover {
		background-color: #008dc1;
		border-color: #0096ce #0096ce #00719B;
		color: #fff;
	  }
	  &:focus, &.focus {
		box-shadow: 0 0 0 3px fade(#00719B, 50%);
	  }
	  &.disabled, &:disabled {
		background-color: #00719B;
		border-color: #00719B #00719B #004c68;
	  }
	  &:active, &.active {
		background-color: #005575 !important;
		background-image: none !important;
		border-color: #004c68 #004c68 #002735 !important;
	  }
	}
	.show > {
	  .btn-primary.dropdown-toggle, .btn-primary-scale-2.dropdown-toggle {
		background-color: #005575 !important;
		background-image: none !important;
		border-color: #004c68 #004c68 #002735 !important;
	  }
	}
	.btn-secondary {
	  background-color: #CF0EF0;
	  border-color: #CF0EF0 #CF0EF0 #a50bc0;
	  color: #fff;
	  &:hover, &.hover {
		background-color: #d731f3;
		border-color: #d93df4 #d93df4 #CF0EF0;
		color: #fff;
	  }
	  &:focus, &.focus {
		box-shadow: 0 0 0 3px fade(#CF0EF0, 50%);
	  }
	  &.disabled, &:disabled {
		background-color: #CF0EF0;
		border-color: #CF0EF0 #CF0EF0 #a50bc0;
	  }
	  &:active, &.active {
		background-color: #b00ccc !important;
		background-image: none !important;
		border-color: #a50bc0 #a50bc0 #7c0890 !important;
	  }
	}
	.show > {
	  .btn-secondary.dropdown-toggle, .btn-secondary-scale-2.dropdown-toggle {
		background-color: #b00ccc !important;
		background-image: none !important;
		border-color: #a50bc0 #a50bc0 #7c0890 !important;
	  }
	}
	.btn-tertiary {
	  background-color: #2BBBAD;
	  border-color: #2BBBAD #2BBBAD #219287;
	  color: #fff;
	  &:hover, &.hover {
		background-color: #3ad2c3;
		border-color: #45d4c6 #45d4c6 #2BBBAD;
		color: #fff;
	  }
	  &:focus, &.focus {
		box-shadow: 0 0 0 3px fade(#2BBBAD, 50%);
	  }
	  &.disabled, &:disabled {
		background-color: #2BBBAD;
		border-color: #2BBBAD #2BBBAD #219287;
	  }
	  &:active, &.active {
		background-color: #249c90 !important;
		background-image: none !important;
		border-color: #219287 #219287 #186860 !important;
	  }
	}
	.show > {
	  .btn-tertiary.dropdown-toggle, .btn-tertiary-scale-2.dropdown-toggle {
		background-color: #249c90 !important;
		background-image: none !important;
		border-color: #219287 #219287 #186860 !important;
	  }
	}
	.btn-quaternary {
	  background-color: #383838;
	  border-color: #383838 #383838 #1e1e1e;
	  color: #fff;
	  &:hover, &.hover {
		background-color: #4b4b4b;
		border-color: #515151 #515151 #383838;
		color: #fff;
	  }
	  &:focus, &.focus {
		box-shadow: 0 0 0 3px fade(#383838, 50%);
	  }
	  &.disabled, &:disabled {
		background-color: #383838;
		border-color: #383838 #383838 #1e1e1e;
	  }
	  &:active, &.active {
		background-color: #252525 !important;
		background-image: none !important;
		border-color: #1e1e1e #1e1e1e #050505 !important;
	  }
	}
	.show > {
	  .btn-quaternary.dropdown-toggle, .btn-quaternary-scale-2.dropdown-toggle {
		background-color: #252525 !important;
		background-image: none !important;
		border-color: #1e1e1e #1e1e1e #050505 !important;
	  }
	}
	.btn-outline.btn-primary {
	  color: #00719B;
	  background-color: transparent;
	  background-image: none;
	  border-color: #00719B;
	  &:hover, &.hover {
		color: #fff;
		background-color: #00719B;
		border-color: #00719B;
	  }
	  &:focus, &.focus {
		box-shadow: 0 0 0 3px fade(#00719B, 50%);
	  }
	  &.disabled, &:disabled {
		color: #00719B;
		background-color: transparent;
	  }
	  &:active, &.active {
		color: #fff !important;
		background-color: #00719B !important;
		border-color: #00719B !important;
	  }
	}
	.show > .btn-outline.btn-primary.dropdown-toggle {
	  color: #fff !important;
	  background-color: #00719B !important;
	  border-color: #00719B !important;
	}
	.btn-outline.btn-secondary {
	  color: #CF0EF0;
	  background-color: transparent;
	  background-image: none;
	  border-color: #CF0EF0;
	  &:hover, &.hover {
		color: #fff;
		background-color: #CF0EF0;
		border-color: #CF0EF0;
	  }
	  &:focus, &.focus {
		box-shadow: 0 0 0 3px fade(#CF0EF0, 50%);
	  }
	  &.disabled, &:disabled {
		color: #CF0EF0;
		background-color: transparent;
	  }
	  &:active, &.active {
		color: #fff !important;
		background-color: #CF0EF0 !important;
		border-color: #CF0EF0 !important;
	  }
	}
	.show > .btn-outline.btn-secondary.dropdown-toggle {
	  color: #fff !important;
	  background-color: #CF0EF0 !important;
	  border-color: #CF0EF0 !important;
	}
	.btn-outline.btn-tertiary {
	  color: #2BBBAD;
	  background-color: transparent;
	  background-image: none;
	  border-color: #2BBBAD;
	  &:hover, &.hover {
		color: #fff;
		background-color: #2BBBAD;
		border-color: #2BBBAD;
	  }
	  &:focus, &.focus {
		box-shadow: 0 0 0 3px fade(#2BBBAD, 50%);
	  }
	  &.disabled, &:disabled {
		color: #2BBBAD;
		background-color: transparent;
	  }
	  &:active, &.active {
		color: #fff !important;
		background-color: #2BBBAD !important;
		border-color: #2BBBAD !important;
	  }
	}
	.show > .btn-outline.btn-tertiary.dropdown-toggle {
	  color: #fff !important;
	  background-color: #2BBBAD !important;
	  border-color: #2BBBAD !important;
	}
	.btn-outline.btn-quaternary {
	  color: #383838;
	  background-color: transparent;
	  background-image: none;
	  border-color: #383838;
	  &:hover, &.hover {
		color: #fff;
		background-color: #383838;
		border-color: #383838;
	  }
	  &:focus, &.focus {
		box-shadow: 0 0 0 3px fade(#383838, 50%);
	  }
	  &.disabled, &:disabled {
		color: #383838;
		background-color: transparent;
	  }
	  &:active, &.active {
		color: #fff !important;
		background-color: #383838 !important;
		border-color: #383838 !important;
	  }
	}
	.show > .btn-outline.btn-quaternary.dropdown-toggle {
	  color: #fff !important;
	  background-color: #383838 !important;
	  border-color: #383838 !important;
	}
  }

  #header .tip {
	background: #00719B;
	color: #fff;
	&:before {
	  border-right-color: #00719B;
	  border-left-color: transparent;
	}
  }

  html {
	#header {
	  .tip-primary {
		background: #00719B !important;
		color: #fff !important;
		&:before {
		  border-right-color: #00719B !important;
		}
	  }
	  .tip-secondary {
		background: #CF0EF0 !important;
		color: #fff !important;
		&:before {
		  border-right-color: #CF0EF0 !important;
		}
	  }
	  .tip-tertiary {
		background: #2BBBAD !important;
		color: #fff !important;
		&:before {
		  border-right-color: #2BBBAD !important;
		}
	  }
	  .tip-quaternary {
		background: #383838 !important;
		color: #fff !important;
		&:before {
		  border-right-color: #383838 !important;
		}
	  }
	}
	&[dir="rtl"] #header {
	  .tip {
		&:before, &.skin:before {
		  border-left-color: #00719B;
		}
	  }
	  .tip-primary:before {
		border-left-color: #00719B !important;
		border-right-color: transparent !important;
	  }
	  .tip-secondary:before {
		border-left-color: #CF0EF0 !important;
		border-right-color: transparent !important;
	  }
	  .tip-tertiary:before {
		border-left-color: #2BBBAD !important;
		border-right-color: transparent !important;
	  }
	  .tip-quaternary:before {
		border-left-color: #383838 !important;
		border-right-color: transparent !important;
	  }
	}
  }

  #header .header-btn-collapse-nav {
	background: #00719B;
  }

  @media (min-width: 992px) {
	#header {
	  .header-nav-primary nav > ul {
		> li {
		  > a {
			color: #00719B;
		  }
		  &.open > a, &:hover > a {
			background: #00719B;
		  }
		  &.dropdown {
			.dropdown-menu {
			  border-top-color: #00719B;
			}
			&.open > a:before, &:hover > a:before {
			  border-bottom-color: #00719B;
			}
		  }
		}
		&:not(:hover) > li > a.active {
		  background-color: #00719B;
		  color: #fff;
		}
	  }
	  .header-nav {
		&.header-nav-stripe nav > ul {
		  > li {
			&:hover > a, &.open > a {
			  background-color: #00719B;
			}
		  }
		  &:not(:hover) > li > a.active {
			background-color: #00719B;
		  }
		  &:hover > li > a.active {
			color: #00719B;
		  }
		}
		&.header-nav-links {
		  nav > ul {
			li:hover > a, &:not(:hover) > li > a.active {
			  color: #00719B;
			}
		  }
		  &.header-nav-links-vertical-slide nav ul li.dropdown .dropdown-menu::-webkit-scrollbar-thumb {
			background: #00719B !important;
		  }
		}
		&.header-nav-line nav > ul {
		  li:hover > a, &:not(:hover) li > a.active {
			color: #00719B;
			&:before {
			  background: #00719B;
			}
		  }
		}
	  }
	  .header-nav-primary.header-nav-primary-slide nav > ul {
		> li {
		  &.open > span > a, &:hover > span > a {
			color: #00719B;
		  }
		}
		&:not(:hover) > li > span > a.active {
		  color: #00719B;
		}
	  }
	}
	html {
	  &.sidebar #header.sidebar .header-nav-primary nav > ul > li.dropdown {
		&.open > .dropdown-menu, &:hover > .dropdown-menu {
		  border-left-color: #00719B;
		}
	  }
	  &.sidebar-right #header.sidebar .header-nav-primary nav > ul > li.dropdown {
		&.open > .dropdown-menu, &:hover > .dropdown-menu {
		  border-right-color: #00719B;
		}
	  }
	}
  }

  @media (min-width: 992px) {
	html #header {
	  .header-nav {
		.header-nav-primary nav > ul > li.dropdown-color.dropdown-primary {
		  .dropdown-menu {
			background-color: #00719B;
			li {
			  a {
				color: #fff;
				border-bottom-color: #00668c;
			  }
			  &:hover > a {
				background: #007caa;
			  }
			}
		  }
		  &.open > a:before, &:hover > a:before {
			border-bottom-color: #00719B;
			background: #00719B;
		  }
		  &.dropdown-small .dropdown-title, &.dropdown-half .dropdown-title, &.dropdown-full .dropdown-title {
			color: #fff;
		  }
		}
		&:not(.header-nav-line):not(.header-nav-links) .header-nav-primary nav > ul {
		  > li.dropdown-color.dropdown-primary {
			&:hover > a {
			  background: #00719B;
			  color: #fff;
			}
			.dropdown-menu li a {
			  color: #fff;
			}
		  }
		  &:not(:hover) > li.dropdown-color.dropdown-primary > a.active {
			background: #00719B;
			color: #fff;
		  }
		}
	  }
	  .header-nav-line .header-nav-primary nav > ul {
		> li.dropdown-color.dropdown-primary {
		  a {
			&:focus, &:hover {
			  color: #00719B;
			}
			&:focus:before, &:hover:before {
			  background-color: #00719B;
			}
		  }
		  &:hover > a {
			color: #00719B;
		  }
		  &.open > a:before, &:hover > a:before {
			background: #00719B;
		  }
		}
		&:not(:hover) > li.dropdown-color.dropdown-primary > a.active {
		  color: #00719B;
		  &:before {
			background-color: #00719B;
		  }
		}
	  }
	  .header-nav-links .header-nav-primary nav > ul {
		> li.dropdown-color.dropdown-primary {
		  a {
			color: #00719B;
			&:focus, &:hover {
			  color: #00719B;
			}
		  }
		  &:hover > a {
			color: #00719B;
		  }
		}
		&:not(:hover) > li.dropdown-color.dropdown-primary > a.active {
		  color: #00719B;
		}
	  }
	  .header-nav {
		.header-nav-primary nav > ul > li.dropdown-color.dropdown-secondary {
		  .dropdown-menu {
			background-color: #CF0EF0;
			li {
			  a {
				color: #fff;
				border-bottom-color: #c30de2;
			  }
			  &:hover > a {
				background: #d21cf2;
			  }
			}
		  }
		  &.open > a:before, &:hover > a:before {
			border-bottom-color: #CF0EF0;
			background: #CF0EF0;
		  }
		  &.dropdown-small .dropdown-title, &.dropdown-half .dropdown-title, &.dropdown-full .dropdown-title {
			color: #fff;
		  }
		}
		&:not(.header-nav-line):not(.header-nav-links) .header-nav-primary nav > ul {
		  > li.dropdown-color.dropdown-secondary {
			&:hover > a {
			  background: #CF0EF0;
			  color: #fff;
			}
			.dropdown-menu li a {
			  color: #fff;
			}
		  }
		  &:not(:hover) > li.dropdown-color.dropdown-secondary > a.active {
			background: #CF0EF0;
			color: #fff;
		  }
		}
	  }
	  .header-nav-line .header-nav-primary nav > ul {
		> li.dropdown-color.dropdown-secondary {
		  a {
			&:focus, &:hover {
			  color: #CF0EF0;
			}
			&:focus:before, &:hover:before {
			  background-color: #CF0EF0;
			}
		  }
		  &:hover > a {
			color: #CF0EF0;
		  }
		  &.open > a:before, &:hover > a:before {
			background: #CF0EF0;
		  }
		}
		&:not(:hover) > li.dropdown-color.dropdown-secondary > a.active {
		  color: #CF0EF0;
		  &:before {
			background-color: #CF0EF0;
		  }
		}
	  }
	  .header-nav-links .header-nav-primary nav > ul {
		> li.dropdown-color.dropdown-secondary {
		  a {
			color: #CF0EF0;
			&:focus, &:hover {
			  color: #CF0EF0;
			}
		  }
		  &:hover > a {
			color: #CF0EF0;
		  }
		}
		&:not(:hover) > li.dropdown-color.dropdown-secondary > a.active {
		  color: #CF0EF0;
		}
	  }
	  .header-nav {
		.header-nav-primary nav > ul > li.dropdown-color.dropdown-tertiary {
		  .dropdown-menu {
			background-color: #2BBBAD;
			li {
			  a {
				color: #fff;
				border-bottom-color: #28afa1;
			  }
			  &:hover > a {
				background: #2ec7b9;
			  }
			}
		  }
		  &.open > a:before, &:hover > a:before {
			border-bottom-color: #2BBBAD;
			background: #2BBBAD;
		  }
		  &.dropdown-small .dropdown-title, &.dropdown-half .dropdown-title, &.dropdown-full .dropdown-title {
			color: #fff;
		  }
		}
		&:not(.header-nav-line):not(.header-nav-links) .header-nav-primary nav > ul {
		  > li.dropdown-color.dropdown-tertiary {
			&:hover > a {
			  background: #2BBBAD;
			  color: #fff;
			}
			.dropdown-menu li a {
			  color: #fff;
			}
		  }
		  &:not(:hover) > li.dropdown-color.dropdown-tertiary > a.active {
			background: #2BBBAD;
			color: #fff;
		  }
		}
	  }
	  .header-nav-line .header-nav-primary nav > ul {
		> li.dropdown-color.dropdown-tertiary {
		  a {
			&:focus, &:hover {
			  color: #2BBBAD;
			}
			&:focus:before, &:hover:before {
			  background-color: #2BBBAD;
			}
		  }
		  &:hover > a {
			color: #2BBBAD;
		  }
		  &.open > a:before, &:hover > a:before {
			background: #2BBBAD;
		  }
		}
		&:not(:hover) > li.dropdown-color.dropdown-tertiary > a.active {
		  color: #2BBBAD;
		  &:before {
			background-color: #2BBBAD;
		  }
		}
	  }
	  .header-nav-links .header-nav-primary nav > ul {
		> li.dropdown-color.dropdown-tertiary {
		  a {
			color: #2BBBAD;
			&:focus, &:hover {
			  color: #2BBBAD;
			}
		  }
		  &:hover > a {
			color: #2BBBAD;
		  }
		}
		&:not(:hover) > li.dropdown-color.dropdown-tertiary > a.active {
		  color: #2BBBAD;
		}
	  }
	  .header-nav {
		.header-nav-primary nav > ul > li.dropdown-color.dropdown-quaternary {
		  .dropdown-menu {
			background-color: #383838;
			li {
			  a {
				color: #fff;
				border-bottom-color: #303030;
			  }
			  &:hover > a {
				background: #404040;
			  }
			}
		  }
		  &.open > a:before, &:hover > a:before {
			border-bottom-color: #383838;
			background: #383838;
		  }
		  &.dropdown-small .dropdown-title, &.dropdown-half .dropdown-title, &.dropdown-full .dropdown-title {
			color: #fff;
		  }
		}
		&:not(.header-nav-line):not(.header-nav-links) .header-nav-primary nav > ul {
		  > li.dropdown-color.dropdown-quaternary {
			&:hover > a {
			  background: #383838;
			  color: #fff;
			}
			.dropdown-menu li a {
			  color: #fff;
			}
		  }
		  &:not(:hover) > li.dropdown-color.dropdown-quaternary > a.active {
			background: #383838;
			color: #fff;
		  }
		}
	  }
	  .header-nav-line .header-nav-primary nav > ul {
		> li.dropdown-color.dropdown-quaternary {
		  a {
			&:focus, &:hover {
			  color: #383838;
			}
			&:focus:before, &:hover:before {
			  background-color: #383838;
			}
		  }
		  &:hover > a {
			color: #383838;
		  }
		  &.open > a:before, &:hover > a:before {
			background: #383838;
		  }
		}
		&:not(:hover) > li.dropdown-color.dropdown-quaternary > a.active {
		  color: #383838;
		  &:before {
			background-color: #383838;
		  }
		}
	  }
	  .header-nav-links .header-nav-primary nav > ul {
		> li.dropdown-color.dropdown-quaternary {
		  a {
			color: #383838;
			&:focus, &:hover {
			  color: #383838;
			}
		  }
		  &:hover > a {
			color: #383838;
		  }
		}
		&:not(:hover) > li.dropdown-color.dropdown-quaternary > a.active {
		  color: #383838;
		}
	  }
	}
  }

  @media (min-width: 992px) {
	html #header .header-nav-force-light-text-active-skin-color .header-nav-primary nav > ul {
	  > li {
		&:hover > a, .wrapper-items-cloned:hover > a {
		  color: #00719B !important;
		}
	  }
	  &:not(:hover) > li {
		> a.active, .wrapper-items-cloned > a.active {
		  color: #00719B !important;
		}
	  }
	}
  }

  @media (max-width: 991px) {
	#header .header-nav-primary {
	  &:not(.header-nav-primary-mobile-dark) nav > ul > li > a {
		color: #00719B;
		&:active {
		  color: #00719B;
		}
		&.active {
		  background: #00719B;
		  &:focus, &:hover {
			background: #00719B;
		  }
		}
	  }
	  &.header-nav-primary-mobile-dark nav > ul > li > a.active {
		background: #00719B;
		&:focus, &:hover {
		  background: #00719B;
		}
	  }
	}
	html.sidebar-hamburger #header.sidebar .header-nav.header-nav-links {
	  .header-nav-primary.header-nav-primary-mobile-dark nav > ul > li > a.active {
		color: #00719B !important;
	  }
	  nav {
		&::-webkit-scrollbar-thumb {
		  background-color: #00719B;
		}
		> ul > li {
		  > a.active, &:hover > a {
			color: #00719B !important;
		  }
		}
	  }
	}
  }

  @media (max-width: 991px) {
	html #header .header-nav-primary nav > ul > li.dropdown-color {
	  &.dropdown-primary > a {
		color: #00719B;
		&.active {
		  background: #00719B !important;
		  color: #fff !important;
		}
	  }
	  &.dropdown-secondary > a {
		color: #CF0EF0;
		&.active {
		  background: #CF0EF0 !important;
		  color: #fff !important;
		}
	  }
	  &.dropdown-tertiary > a {
		color: #2BBBAD;
		&.active {
		  background: #2BBBAD !important;
		  color: #fff !important;
		}
	  }
	  &.dropdown-quaternary > a {
		color: #383838;
		&.active {
		  background: #383838 !important;
		  color: #fff !important;
		}
	  }
	}
  }

  html #header .header-top {
	&.header-top-primary {
	  background: #00719B;
	  border-top-color: #005e82;
	  .header-nav-top ul > li {
		&.open {
		  > a {
			background: #0084b5;
		  }
		  > a {
			&:hover, &:focus {
			  background: #0084b5;
			}
		  }
		}
		> a {
		  &:hover, &:focus {
			background: #0084b5;
		  }
		}
	  }
	  .dropdown-menu {
		background: #0084b5;
		border-color: #0084b5;
		a {
		  &:hover, &:focus {
			background: #0096ce !important;
		  }
		}
	  }
	}
	&.header-top-secondary {
	  background: #CF0EF0;
	  border-top-color: #ba0dd8;
	  .header-nav-top ul > li {
		&.open {
		  > a {
			background: #d425f2;
		  }
		  > a {
			&:hover, &:focus {
			  background: #d425f2;
			}
		  }
		}
		> a {
		  &:hover, &:focus {
			background: #d425f2;
		  }
		}
	  }
	  .dropdown-menu {
		background: #d425f2;
		border-color: #d425f2;
		a {
		  &:hover, &:focus {
			background: #d93df4 !important;
		  }
		}
	  }
	}
	&.header-top-tertiary {
	  background: #2BBBAD;
	  border-top-color: #26a69a;
	  .header-nav-top ul > li {
		&.open {
		  > a {
			background: #30cfc0;
		  }
		  > a {
			&:hover, &:focus {
			  background: #30cfc0;
			}
		  }
		}
		> a {
		  &:hover, &:focus {
			background: #30cfc0;
		  }
		}
	  }
	  .dropdown-menu {
		background: #30cfc0;
		border-color: #30cfc0;
		a {
		  &:hover, &:focus {
			background: #45d4c6 !important;
		  }
		}
	  }
	}
	&.header-top-quaternary {
	  background: #383838;
	  border-top-color: #2b2b2b;
	  .header-nav-top ul > li {
		&.open {
		  > a {
			background: #454545;
		  }
		  > a {
			&:hover, &:focus {
			  background: #454545;
			}
		  }
		}
		> a {
		  &:hover, &:focus {
			background: #454545;
		  }
		}
	  }
	  .dropdown-menu {
		background: #454545;
		border-color: #454545;
		a {
		  &:hover, &:focus {
			background: #515151 !important;
		  }
		}
	  }
	}
  }

  @media (min-width: 992px) {
	html #header {
	  .header-nav-bar-primary {
		background: #00719B !important;
		color: #fff !important;
	  }
	  .header-nav-bar-secondary {
		background: #CF0EF0 !important;
		color: #fff !important;
	  }
	  .header-nav-bar-tertiary {
		background: #2BBBAD !important;
		color: #fff !important;
	  }
	  .header-nav-bar-quaternary {
		background: #383838 !important;
		color: #fff !important;
	  }
	}
  }

  @media (min-width: 992px) {
	#header .header-nav-primary.header-nav-primary-light nav > ul > li {
	  &.open > a, &:hover > a, > a.active {
		color: #00719B;
	  }
	}
  }

  .header-extended-container .header-extended-container-icons {
	background-color: #00719B;
  }

  html {
	.header-extended-container-primary .header-extended-container-icons {
	  background-color: #00719B;
	}
	.header-extended-container-secondary .header-extended-container-icons {
	  background-color: #CF0EF0;
	}
	.header-extended-container-tertiary .header-extended-container-icons {
	  background-color: #2BBBAD;
	}
	.header-extended-container-quaternary .header-extended-container-icons {
	  background-color: #383838;
	}
	&.boxed .body {
	  border-top-color: #00719B;
	}
  }

  /*# sourceMappingURL=menu-skin.min.css.map */
